# Melakukan Pengecekan Data Quality

In [1]:
import pandas as pd
data = pd.read_csv("D:/docu/sem-7/PBA/emails.csv")

In [2]:
print("Dataset memiliki {} rows dan {} columns".format(data.shape[0], data.shape[1]))

Dataset memiliki 5728 rows dan 2 columns

In [3]:
data.sample(10)

                                                   text  spam
662   Subject: save your money by getting an oem sof...     1
1630  Subject: additional resources  ben and i have ...     0
2438  Subject: energy conference  vince ,  greetings...     0
4944  Subject: re : my model for spikes  valery ,  i...     0
2039  Subject: the installation of the equipment you...     0
4210  Subject: re : enron default swaps  darrell ,  ...     0
1189  Subject: greetings from u . a . e  hello my de...     1
4820  Subject: our meeting  vince :  i enjoyed meeti...     0
3171  Subject: re : visit to houston and vince kamin...     0
4855  Subject: re : interview with the enron researc...     0

In [4]:
data.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [5]:
total = data.isnull().sum().sort_values(ascending=False)
nilai_null = pd.concat([total], axis=1, keys=['Total'])

In [6]:
nilai_null

      Total
spam      0
text      0