# Melakukan Pengecekan Data Quality

In [1]:
import pandas as pd
data = pd.read_csv("D:/docu/sem-7/PBA/emails.csv")

In [2]:
print("Dataset memiliki {} rows dan {} columns".format(data.shape[0], data.shape[1]))

Dataset memiliki 5728 rows dan 2 columns

In [3]:
data.sample(10)

                                                   text  spam
4677  Subject: re : spring 2001 conference participa...     0
5587  Subject: re :  denise ,  no problem .  we shal...     0
1988  Subject: re : houston visit  thank you very mu...     0
1338  Subject: largest collection of porn mo \ / ies...     1
4281  Subject: houston visit with vince kaminski  go...     0
767   Subject: you don _ t know how to get into sear...     1
4328  Subject: maureen raymond has completed derivat...     0
4444  Subject: henwood stuff and thoughts about valu...     0
5202  Subject: re : credit rating contact ?  kim ,  ...     0
1981  Subject: command confirmation request ( 4 e 46...     0

In [4]:
data.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [5]:
total = data.isnull().sum().sort_values(ascending=False)
nilai_null = pd.concat([total], axis=1, keys=['Total'])

In [6]:
nilai_null

      Total
spam      0
text      0

## Text Prepocessing

In [7]:
data['text']

0       Subject: naturally irresistible your corporate...
1       Subject: the stock trading gunslinger  fanny i...
2       Subject: unbelievable new homes made easy  im ...
3       Subject: 4 color printing special  request add...
4       Subject: do not have money , get software cds ...
                              ...
5723    Subject: re : research and development charges...
5724    Subject: re : receipts from visit  jim ,  than...
5725    Subject: re : enron case study update  wow ! a...
5726    Subject: re : interest  david ,  please , call...
5727    Subject: news : aurora 5 . 2 update  aurora ve...
Name: text, Length: 5728, dtype: object

### Menghapus punctuation

In [8]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
def remove_punc(txt):
    txt_nopunct = "".join([c for c in txt if c not in string.punctuation])
    return txt_nopunct
data['text'] = data['text'].apply(remove_punc)

In [10]:
data['text']

0       Subject naturally irresistible your corporate ...
1       Subject the stock trading gunslinger  fanny is...
2       Subject unbelievable new homes made easy  im w...
3       Subject 4 color printing special  request addi...
4       Subject do not have money  get software cds fr...
                              ...
5723    Subject re  research and development charges t...
5724    Subject re  receipts from visit  jim   thanks ...
5725    Subject re  enron case study update  wow  all ...
5726    Subject re  interest  david   please  call shi...
5727    Subject news  aurora 5  2 update  aurora versi...
Name: text, Length: 5728, dtype: object

### Stemming

In [17]:
import nltk
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

def stemming (text):
    return ''.join([stemmer.stem(word) for word in text])

data['text'] = data['text'].apply(stemming)

In [19]:
data['text']

0       Subject naturally irresistible your corporate ...
1       Subject the stock trading gunslinger  fanny is...
2       Subject unbelievable new homes made easy  im w...
3       Subject 4 color printing special  request addi...
4       Subject do not have money  get software cds fr...
                              ...
5723    Subject re  research and development charges t...
5724    Subject re  receipts from visit  jim   thanks ...
5725    Subject re  enron case study update  wow  all ...
5726    Subject re  interest  david   please  call shi...
5727    Subject news  aurora 5  2 update  aurora versi...
Name: text, Length: 5728, dtype: object