# Melakukan Pengecekan Data Quality

In [1]:
#Membaca Dataset
import pandas as pd
data = pd.read_csv("D:/docu/sem-7/PBA/emails.csv")

In [2]:
#Membaca jumlah row dan column dataset
print("Dataset memiliki {} rows dan {} columns".format(data.shape[0], data.shape[1]))

Dataset memiliki 5728 rows dan 2 columns

In [3]:
data.sample(10)

                                                   text  spam
1869  Subject: meeting requested  hi mr . kaminski ,...     0
3510  Subject: re : d - g energy  karla ,  the wordi...     0
5574  Subject: enron opportunities  lynn ,  i am for...     0
4722  Subject: re : new invoice for energy and weath...     0
572   Subject: ouur medz  hello , welcome to pharmon...     1
4361  Subject: re : meeting tuesday  dale ,  your me...     0
3505  Subject: re : mg metals : additional areas to ...     0
1242  Subject: save your money buy getting this thin...     1
415   Subject: new extensions now only $ 14 . 95  pu...     1
1477  Subject: enron alp  dear alp company represent...     0

In [4]:
data.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [5]:
total = data.isnull().sum().sort_values(ascending=False)
nilai_null = pd.concat([total], axis=1, keys=['Total'])

In [6]:
nilai_null

      Total
spam      0
text      0

## Text Prepocessing

In [7]:
data['text']

0       Subject: naturally irresistible your corporate...
1       Subject: the stock trading gunslinger  fanny i...
2       Subject: unbelievable new homes made easy  im ...
3       Subject: 4 color printing special  request add...
4       Subject: do not have money , get software cds ...
                              ...
5723    Subject: re : research and development charges...
5724    Subject: re : receipts from visit  jim ,  than...
5725    Subject: re : enron case study update  wow ! a...
5726    Subject: re : interest  david ,  please , call...
5727    Subject: news : aurora 5 . 2 update  aurora ve...
Name: text, Length: 5728, dtype: object

### Menghapus punctuation

In [8]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
def remove_punc(txt):
    txt_nopunct = "".join([c for c in txt if c not in string.punctuation])
    return txt_nopunct
data['text'] = data['text'].apply(remove_punc)

In [10]:
data['text']

0       Subject naturally irresistible your corporate ...
1       Subject the stock trading gunslinger  fanny is...
2       Subject unbelievable new homes made easy  im w...
3       Subject 4 color printing special  request addi...
4       Subject do not have money  get software cds fr...
                              ...
5723    Subject re  research and development charges t...
5724    Subject re  receipts from visit  jim   thanks ...
5725    Subject re  enron case study update  wow  all ...
5726    Subject re  interest  david   please  call shi...
5727    Subject news  aurora 5  2 update  aurora versi...
Name: text, Length: 5728, dtype: object

### Stemming

In [11]:
import nltk
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

def stemming (text):
    return ''.join([stemmer.stem(word) for word in text])

data['text'] = data['text'].apply(stemming)

In [12]:
data['text']

0       Subject naturally irresistible your corporate ...
1       Subject the stock trading gunslinger  fanny is...
2       Subject unbelievable new homes made easy  im w...
3       Subject 4 color printing special  request addi...
4       Subject do not have money  get software cds fr...
                              ...
5723    Subject re  research and development charges t...
5724    Subject re  receipts from visit  jim   thanks ...
5725    Subject re  enron case study update  wow  all ...
5726    Subject re  interest  david   please  call shi...
5727    Subject news  aurora 5  2 update  aurora versi...
Name: text, Length: 5728, dtype: object

In [13]:
data.head()

                                                text  spam
0  Subject naturally irresistible your corporate ...     1
1  Subject the stock trading gunslinger  fanny is...     1
2  Subject unbelievable new homes made easy  im w...     1
3  Subject 4 color printing special  request addi...     1
4  Subject do not have money  get software cds fr...     1

In [14]:
data.groupby('spam').describe()

      text
     count unique                                                top freq
spam
0     4360   4326  Subject re  weather and energy price data  mul...    2
1     1368   1368  Subject instant branded software download  sof...    1

Berdasarkan otuput di atas kita dapat mengetahui bahwa jumlah email dengan spam "0" sebanyak 4360 dan spam "1" sebanyak 1368

In [15]:
data['Category'] = data['spam'].apply(lambda x: 'spam' if x== 1 else 'ham')
data.head()

                                                text  spam Category
0  Subject naturally irresistible your corporate ...     1     spam
1  Subject the stock trading gunslinger  fanny is...     1     spam
2  Subject unbelievable new homes made easy  im w...     1     spam
3  Subject 4 color printing special  request addi...     1     spam
4  Subject do not have money  get software cds fr...     1     spam

### Melakukan Vectorization

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
text_vectorizer = vectorizer.fit_transform(data['text'])
print(text_vectorizer.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [4 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

Potongan kode di atas berfungsi untuk mengubah teks menjadi vektor berdasarkan frekuensi (jumlah) setiap kata yang muncul di seluruh teks 
sehingga analisis teks dapat dilakukan lebih lanjut.

### Melakukan split data

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(text_vectorizer,data['Category'],test_size=0.20)

Potongan kode di atas adalah fungsi yang berguna untuk membagi array data 
menjadi dua subset, yaitu training data dan testing data. Fungsi ini dapat
membagi dataset secara otomatis. Pada potongan kode di atas, kami menetapkan
test data sebanyak 20 % dari dataset.